@import url("../../delegation-tab/remove-deleg-panel/remove-deleg-panel.component.css");

.form-name {
  width: 215px;
  margin-left: 20px;
}

.form-del {
  margin-left: 110px;
  width: 200px;
}

.reg_btn{
  width: 140px;
  margin-left: 0;
}
