<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="text-center message"> {{message}} </div>
      <form>
        <div class="form-row message">
          <div class="form-group text-center form-space">
            <label>
              <textarea class="form-control form-name" rows="1" placeholder="first name" [(ngModel)]="name" name="name" [disabled]="true"></textarea>
            </label>
            <label>
              <textarea class="form-control form-name" rows="1" placeholder="surname" [(ngModel)]="lastName" name="lastName" [disabled]="true"></textarea>
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group text-center form-del">
            <label>
              <select class="browser-default custom-select" name="chosenUser" [(ngModel)]="chosenUser" (ngModelChange)="onChange($event)">
                <option value="">user</option>
                <option *ngFor="let user of users" [ngValue]="user">
                  {{
                  "(" + user.id + ") " + user.email
                  }}
                </option>
              </select>
            </label>
          </div>
          <div class="form-group text-center form-space2">
            <input type="submit" value="Make admin" class="btn reg_btn" (click)="makeAdmin()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
