<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom navbar-dark fixed-top">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link tab" routerLink="/home"><span> Home </span></a>
          <div class="dropdown-divider"></div>
        </li>
        <li *ngIf="userLogged==true" class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle tab" data-toggle="dropdown">
            <span> Profile </span>
          </a>
          <div class="dropdown-divider"></div>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item tab" routerLink="/home/profile/edit"><span> Edit data </span></a></li>
            <li><a *ngIf="socialLogged==false" class="dropdown-item tab" routerLink="/home/profile/password"><span> Change password </span></a></li>
          </ul>
        </li>
        <li *ngIf="userLogged==true" class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle tab" data-toggle="dropdown">
            <span> Delegation </span>
          </a>
          <div class="dropdown-divider"></div>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item tab" routerLink="/home/delegation/list/confirmed"><span> All confirmed </span></a></li>
            <li><a class="dropdown-item tab" routerLink="/home/delegation/list/unconfirmed"><span> All unconfirmed </span></a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item tab" routerLink="/home/delegation/request/confirmation"><span> Request confirmation </span></a></li>
            <li><a class="dropdown-item tab" routerLink="/home/delegation/request/unconfirmation"><span> Request unconfirmation </span></a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item tab" routerLink="/home/delegation/add"><span> Add delegation </span></a></li>
            <li><a class="dropdown-item tab" routerLink="/home/delegation/edit"><span> Edit delegation </span></a></li>
            <li><a class="dropdown-item tab" routerLink="/home/delegation/remove"><span> Remove delegation </span></a></li>
          </ul>
        </li>
      </ul>
      <a class="navbar-brand navbar-center title"> Business Trips Management System </a>
      <ul class="navbar-nav">
        <li *ngIf="adminLogged==true" class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle tab" data-toggle="dropdown">
            <span> Admin Panel </span>
          </a>
          <div class="dropdown-divider"></div>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item tab" routerLink="/home/admin/user/make-admin"><span> Make user admin </span></a></li>
            <li><a class="dropdown-item tab" routerLink="/home/admin/user/remove"><span> Remove user </span></a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item tab" routerLink="/home/admin/request/confirmation"><span> Confirmation request </span></a></li>
            <li><a class="dropdown-item tab" routerLink="/home/admin/request/unconfirmation"><span> Unconfirmation request </span></a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item tab" routerLink="/home/admin/delegation/edit"><span> Edit delegation </span></a></li>
            <li><a class="dropdown-item tab" routerLink="/home/admin/delegation/remove"><span> Remove delegation </span></a></li>
          </ul>
        </li>
        <li class="ml-auto nav-item active">
          <a class="nav-link tab" (click)="logout()"><span> Logout </span></a>
          <div class="dropdown-divider"></div>
        </li>
      </ul>
    </div>
  </nav>
  <footer class="page-footer font-small blue footer-custom navbar-fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <b> Szymon Betlewski </b>
    </div>
  </footer>

  <router-outlet> </router-outlet>

</body>
</html>
