@import url("../../delegation-tab/remove-deleg-panel/remove-deleg-panel.component.css");

.card {
  width: 700px;
  height: 290px;
}

.form-user-name {
  width: 240px;
  margin-left: 90px;
}

.form-user-lastName {
  width: 240px;
  margin-left: 15px;
}

.form-desc {
  margin-top: -15px;
  margin-left: 90px;
}

.form-user {
  width: 220px;
  margin-left: 50px;
}

.form-del {
  width: 220px;
  margin-left: 10px;
}
