@import url("../../profile-tab/edit-profile-panel/edit-profile-panel.component.css");

.card {
  background-color: white !important;
  width: 1200px;
  height: 450px;
  overflow: auto;
}

.card thead th {
  position: sticky;
  top: 0;
}

.table {
  text-align: center;
}

.btn{
  color: black;
  background-color: white;
  width: 70px
}

.btn:hover{
  color: white;
  background-color: grey;
}
