<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <table class="table table-hover table-fixed">
        <thead class="thead-dark text-truncate">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Start time</th>
            <th scope="col">Stop time</th>
            <th scope="col">Travel diet</th>
            <th scope="col">Breakfasts</th>
            <th scope="col">Dinners</th>
            <th scope="col">Suppers</th>
            <th scope="col">Transport</th>
            <th scope="col">Ticket pr.</th>
            <th scope="col">Auto cap.</th>
            <th scope="col">Distance</th>
            <th scope="col">ACC pr.</th>
            <th scope="col">OTH tickets pr.</th>
            <th scope="col">OTH outlay desc.</th>
            <th scope="col">OTH outlay pr.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Szkolenie w Warszawie</td>
            <td>2020.04.28 14:30</td>
            <td>2020.04.29 14:30</td>
            <td>30</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>Car</td>
            <td>-</td>
            <td>High</td>
            <td>200</td>
            <td>50</td>
            <td>0</td>
            <td>-</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Szkolenie w Krakowie</td>
            <td>2020.04.27 10:00</td>
            <td>2020.04.29 14:30</td>
            <td>30</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>Car</td>
            <td>-</td>
            <td>High</td>
            <td>300</td>
            <td>50</td>
            <td>0</td>
            <td>-</td>
            <td>0</td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>
