@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.container{
  color: white;
  height: 100vh;
  align-content: center;
  font-family: 'Numans', sans-serif;
}

.card {
  width: 610px;
  height: 390px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.message {
  margin-top: 30px;
}

.form-space {
  margin-left: 50px;
}

.form-space2 {
  margin-left: 25px;
}

.form-address {
  width:515px;
}

.row-space {
  margin-top: 20px;
  margin-left: 50px;
}

.reg_btn{
   color: black;
   background-color: white;
   width: 130px;
   margin-left: 180px;
 }

.reg_btn:hover{
  color: white;
  background-color: grey;
}
