<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="text-center message"> {{message}} </div>
      <form>
        <div class="form-row message">
          <div class="form-group text-center form-space">
            <label>
              <input type="password" class="form-control" placeholder="new password" [(ngModel)]="passwordNew1" name="passwordNew1">
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group text-center form-space">
            <label>
              <input type="password" class="form-control" placeholder="new password" [(ngModel)]="passwordNew2" name="passwordNew2">
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group text-center row-space">
            <label>
              <input type="password" class="form-control" placeholder="current password" [(ngModel)]="passwordOld" name="passwordOld">
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group text-center">
            <input type="submit" value="Change" class="btn reg_btn" (click)="change()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
