@import url("../edit-profile-panel/edit-profile-panel.component.css");

.card {
  width: 430px;
  height: 370px;
}

.form-space {
  margin-left: 105px;
}

.row-space {
  margin-left: 105px;
}

.reg_btn {
  margin-left: 165px;
}
