<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="text-center message"> Given password is not correct! </div>
      <form>
        <div class="form-row message">
          <div class="form-group text-center form-space">
            <label>
              <input type="password" class="form-control" placeholder="new password" [(ngModel)]="password" name="password">
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group text-center form-space">
            <label>
              <input type="password" class="form-control" placeholder="new password" [(ngModel)]="password1" name="password">
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group text-center row-space">
            <label>
              <input type="password" class="form-control" placeholder="old password" [(ngModel)]="password2" name="password">
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group text-center">
            <input type="submit" value="Change" class="btn reg_btn" (click)="register()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
