@import url("../edit-profile-panel/edit-profile-panel.component.css");

.card {
  width: 380px;
  height: 370px;
}

.form-space {
  margin-left: 80px;
}

.row-space {
  margin-left: 80px;
}

.reg_btn {
  margin-left: 130px;
}
