<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <table>
        <tr>
          <th class="space-col">
            <div class="icon"><i class="fa fa-user"></i></div>
          </th>
          <th>
            <div class="size-big space-row"> {{fullName}} </div>
            <div class="size-small"> {{email}} </div>
          </th>
        </tr>
        <tr class="space-row">
        <th class="space-col">
          <div class="icon2"><i class="fa fa-building"></i></div>
        </th>
        <th>
          <div class="size-medium space-row2"> {{companyName}} </div>
          <div class="size-small"> {{companyAddress}} </div>
          <div class="size-small"> NIP: {{companyNip}} </div>
        </th>
        </tr>
        <tr class="space-row">
          <th class="space-col">
            <div class="icon2"><i class="fa fa-book"></i></div>
          </th>
          <th>
            <div class="size-small "> Roles: {{roles}} </div>
            <div class="size-small"> Status: {{status}} </div>
            <div class="size-small"> Registration date: {{registrationDate}} </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
