<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <table>
        <tr>
          <th class="space-col">
            <div class="icon"><i class="fa fa-user"></i></div>
          </th>
          <th>
            <div class="size-big space-row"> Szymon Betlewski </div>
            <div class="size-small"> szymonbetlewski@wp.pl </div>
          </th>
        </tr>
        <tr class="space-row">
        <th class="space-col">
          <div class="icon2"><i class="fa fa-building"></i></div>
        </th>
        <th>
          <div class="size-medium space-row2"> Uniwersytet Technologiczno-Przyrodniczy </div>
          <div class="size-small"> Bydgoszcz, ul. Kaliskiego </div>
          <div class="size-small"> NIP: 9483829556 </div>
        </th>
        </tr>
        <tr class="space-row">
          <th class="space-col">
            <div class="icon2"><i class="fa fa-book"></i></div>
          </th>
          <th>
            <div class="size-small "> Roles: USER </div>
            <div class="size-small"> Status: active </div>
            <div class="size-small"> Registration date: 2020-04-27 </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
