@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html,body{
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Numans', sans-serif;
}

.container{
  height: 100%;
  align-content: center;
}

.card{
  width: 600px;
  height: 510px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0,0,0,0.6) !important;
}

.card-header h3{
  color: white;
  text-align: center;
}

.form-space {
  margin-left: 25px;
}

.form-address {
  width:515px;
}

.reg_btn{
  color: black;
  background-color: #81BEF7;
  width: 150px;
}

.reg_btn:hover{
  color: white;
  background-color: #0539BC;
}

.links{
  color: white;
}

.links a{
  margin-left: 5px;
}
